@font-face {
  font-family: 'PS';
  src: url(../../utils/fonts/GamestationDisplayObl.otf);
}
@font-face {
  font-family: 'coderoman';
  src: url(../../utils/fonts/CodeNewRoman-aOAK.ttf);
}

.logInHeader{
  font-family: 'PS';

}
.username{

}
.password{

}
.noAcctMessage{

}