.dashboardPosition{
    position: relative;
}
.currentBal{
    width: 100%;
    height: 50px;
    color: rgb(211, 144, 20);
    background-color: rgb(3, 3, 36);
    padding: 20px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background-image: url("https://eu.lolesports.com/darkroom/1275/d1a745dfa181420f4f70ac624407fbfd:87a5078cdabfadf440f4c9efc6f7b43f");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid;
    border-color: #00000083;

}
#paperStyle{
    background-color: white;
    margin: 0 auto;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 257px;
    border: solid;
    border-color: #7a747483;
    opacity: 0.8;
    overflow-y: auto;
}
#TextField {
    color: black;
 }
 .chatUser {
    padding-right: 5px;
 }
@media only screen and (min-width: 595px) {
#paperStyle{
    position: relative;
    top: -75px;
    width: 100%;
}
}
@media only screen and (min-width: 768px) {
#paperStyle{
    width: 96%;
    }
    
} 
@media only screen and (min-width: 1024px) {
#paperStyle{
    width: 44%;
    position: absolute;
    top: 0;
    right: 2%;
    height: 300px;
}
}
@media only screen and (min-width: 1200px) {
#paperStyle{
    width: 40%;
}
}