.matchCard{
    background-color: #000000a2;
    margin-top: 5px;

}
.card{
    text-align: center;
    border-radius: 0;
    background: none;
    width: 100%;
    border: none;
}
#matchCardImg{
    height: 200px;
}