.eventSchedule {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 25px;
}
.eventScheduleHeader {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    background-color: rgb(211, 144, 20);
    color: black;
    font-weight: bold;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .eventScheduleTable {
    opacity: 0.8;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  @media only screen and (min-width: 768px) {
    .eventSchedule {
      position: absolute;
      top: 41px;
      right: 25px;
    }
  }