.eventSchedule {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 25px;
}
.eventScheduleHeader {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    background-color: rgb(211, 144, 20);
    color: black;
    font-weight: bold;

  }
  .eventScheduleTable {
    background-color: rgb(3, 3, 36);
  }
  @media only screen and (min-width: 768px) {
    .eventSchedule {
      position: absolute;
      top: 55px;
      right: 25px;
    }
  }