.carousel {
    margin: 0 auto;
    padding: 0;
}
.carouselPic {
    margin: 0 auto;
    height: 175px;
    padding: 0;
}
.carouselInfo,.carouselInfoTable {
    margin: 0 auto;
    padding: 0;
    height: 175px;
}
@media only screen and (min-width: 768px) {
    .carousel {
        margin: 0;
        margin-left: 40px;
    }
}