.wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

@media only screen and (max-width: 768px) {
  .wrapper{
    display: block;
  }
}