@font-face {
  font-family: "PS";
  src: url(./utils/GamestationDisplayObl.otf);
}
@font-face {
  font-family: "coderoman";
  src: url(./utils/CodeNewRoman-aOAK.ttf);
}
@font-face {
  font-family: "bigNoodle";
  src: url(./utils/CodeNewRomanItalic-6Xpo.ttf);
}
@font-face {
  font-family: "bigNoodleOb";
  src: url(./utils/BignoodletitlingOblique-BxY5.ttf);
}
.container {
  width: 70%;
}
body {
  background-color: black;
  color: #ebebeb;
  font-family: "coderoman";
  background-image: url("./utils/simpleTexture.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
th {
  padding: 0;
  font-family: "bigNoodle";
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: lighter;
  vertical-align: middle;
}
tr {
  vertical-align: middle;
  text-align: left;
  line-height: .9;
}
#matchNameCol {
  font-family: "bigNoodleOb";
  font-size: 1.3em;
}
#vs {
  border-radius: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#vsMain {
  margin: 5px;
  border-radius: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#matchName {
  font-family: "PS";
  font-size: 1.2em;
}
#prizePool {
  font-family: "coderoman";
}
#middleInfo {
  width: 400px;
}
.row {
  margin: 0;
}
.row {
  margin: 0;
}

.matches {
  background-image: url("./utils/simpleTexture.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  background-image: url("./utils/simpleTexture.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "coderoman";
}
.table {
  padding: 0;
  margin-bottom: 0;
}
#chat {
  color: #fff;
}
.App {
  text-align: center;
  padding: 0;
  margin: 0;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
/* Sign up and log in pages */
.signUpHeader,
.logInHeader {
  font-family: "PS";
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
  color: white;
}
.login {
  margin-top: 100px;
  background-image: radial-gradient(#101011, #1a1919, #000000);
  border-radius: 4px;
  padding-bottom: 60px;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -10px;
}
.signUpPage {
  margin-top: 100px;
  background-image: radial-gradient(#101011, #1a1919, #000000);
  border-radius: 4px;
  padding-bottom: 60px;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -10px;
}
.signUpSubmit {
  background-image: linear-gradient(to right, #221181, #2c065e);
  border: solid;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #ebebeb;
  text-shadow: 2px 2px 8px #b4b0b0;
}
.logInSubmit {
  background-image: linear-gradient(to right, #221181, #2c065e);
  border: solid;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #ebebeb;
  text-shadow: 2px 2px 8px #b4b0b0;
}
#noAcctMessage {
  font-family: "PS";
}
.signUpForm,
.logInForm {
  margin: 0 auto;
  padding: 0;
}
.formLabel {
  color: white;
}
.formLink {
  padding: 0;
}
/* Add money page */
.addMoney {
  color: white;
  margin-bottom: 200px;

}
.addMoneyPageHeader {
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 15px;
}
#addChronosTitle {
  text-align: center;
  font-family: PS2;
  font-size: 1.9em;
  margin: 30px;
}
.addMoneyForm {
  margin: auto;
  margin-top: 15px;
}
.form-check,
.addMoneySubmit {
  margin-top: 15px;
}
.addMoneySubmit {
  background-image: linear-gradient(to right, #221181, #2c065e);
  border: solid;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #ebebeb;
  text-shadow: 2px 2px 8px #b4b0b0;
}
.form-group {
  margin-bottom: 5px;
}
/* Home page - main event */
.mainMatch {
  margin: 0 auto;
  padding: 0;
}
.mainTwitchPlayer {
  margin-top: 30px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainMatchInfoRow {
  margin-top: 15px;
}
.mainMatchInfo {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 350px;
}
.mainGameInfo {
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #000000;
  background-image: radial-gradient(#2e0101, #00012ec4, #000000, #000000);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: rgb(211, 144, 20);
}

.teamInfo {
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
.teamLogo {
  margin: 0 auto;
  padding: 0;
  margin-top: 7px;
  width: 70px;
  height: 85px;
}
.teamName {
  margin: 0 auto;
  margin-top: 5px;
  font-weight: bold;
  text-shadow: 2px 2px 8px #000000;
}
.teamMiddle {
  padding: 0;
  margin: 0 auto;
  margin-top: 15px;
  font-weight: bold;
  font-family: "PS";
  text-shadow: 2px 2px 8px #000000;
  width: 140px;
}
.mainGameBet {
  margin-top: 10px;
}
#mainBetBtn {
  background-image: linear-gradient(to right, #221181, #2c065e);
  border: solid;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #ebebeb;
  text-shadow: 2px 2px 8px #b4b0b0;
  margin-top: 8px;
  font-size: 1.5em;
  font-family: "PS";
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 1px;
}
/* Home page - carousel */
.display-3 {
  text-shadow: 2px 2px 8px #000000;
}
.lead {
  text-shadow: 2px 2px 8px #000000;
}
.carouselRow {
  margin-top: 30px;
}
.carouselHeader {
  letter-spacing: 0.6px;
  font-family: PS;
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  background-color: rgb(211, 144, 20);
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 2px 2px 8px #000000;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
footer{
  position: fixed;
  background: black;
  color: white;
  bottom: 0;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  width: 100%;
  margin-top: 30px;
}
@media only screen and (min-width: 595px) {
  .matchesBox {
    width: 100%;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .matchCard {
    margin: auto;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .mainMatch {
    margin: 0;
    margin-left: 40px;
  }
  .mainTwitchPlayer {
    height: 350px;
  }
  .carouselHeader {
    margin: 0;
    margin-left: 40px;
  }
  .carousel{
    margin-bottom: 100px;
  }
  .addMoneyPageHeader {
    margin: 0;
    margin-top: 15px;
  }
  .addMoneyForm {
    margin: 0;
    margin-top: 15px;
    padding: 0;
  }
  .form-group {
    padding: 0;
  }
  .matchesBox {
    margin-left: 20px;
    padding: 10px;
  }
  .matchCard {
    margin-left: 5px;
    margin-right: 5px;
    width: 90%;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .matchesBox {
    margin-left: 20px;
    padding: 10px;
  }
  .matchCard {
    margin-left: 5px;
    margin-right: 5px;
    width: 45%;
  }
  .login {
    width: 40%;
  }
  .signUpPage {
    width: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  .matchesBox {
    margin-left: 20px;
    padding: 10px;
  }
  .matchCard {
    margin-left: 5px;
    margin-right: 5px;
  }
}
