@font-face {
  font-family: 'PS';
  src: url(./utils/GamestationDisplayObl.otf);
}
@font-face {
  font-family: 'coderoman';
  src: url(./utils/CodeNewRoman-aOAK.ttf);
}

body{
  background-color: black;
  color: #ebebeb;
  font-family: 'coderoman';
  background-image: url("./utils/simpleTexture.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer{
    background-color: rgb(3, 3, 36);
    height: 50px;
}
.row {
  margin: 0;
}
.row {
  margin: 0;
}

.matches {
      background-image: url("./utils/simpleTexture.jpg");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }
.App {
      background-image: url("./utils/simpleTexture.jpg");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      font-family: 'coderoman';
    }
.table {
  padding: 0;
  margin-bottom: 0;
}
.App {
  text-align: center;
  padding: 0;
  margin: 0;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
/* Sign up and log in pages */
.signUpHeader,.logInHeader {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
  color: white;
}
.signUpForm,.logInForm {
  margin: 0 auto;
  padding: 0;
}
.formLabel {
  color: white;
}
.formLink {
  padding: 0;
}
/* Add money page */
.addMoney {
  color: white;
}
.addMoneyPageHeader {
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
  font-weight: bold;
  border: 2px solid white;
  margin-bottom: 15px;
}
.addMoneyForm {
  margin: 0 auto;
  margin-top: 15px;
}
.form-check, .addMoneySubmit {
  margin-top: 15px;
}
.form-group {
  margin-bottom: 5px;
}
/* Home page - main event */
.mainMatch {
  margin: 0 auto;
  padding: 0;
}
.mainTwitchPlayer {
  margin-top: 30px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.mainMatchInfoRow {
  margin-top: 15px;
}
.mainMatchInfo {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  height: 350px;
}
.mainGameInfo {
  padding-bottom: 10px;
  background-image: url("https://eu.lolesports.com/darkroom/1275/d1a745dfa181420f4f70ac624407fbfd:87a5078cdabfadf440f4c9efc6f7b43f");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.teamInfo {
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
.teamLogo {
  margin: 0 auto;
  padding: 0;
  margin-top: 7px;
  width: 70px;
  height: 85px;
}
.teamName {
  margin: 0 auto;
  margin-top: 5px;
  font-weight: bold;
  color: #ebebeb;
}
.teamMiddle {
  padding: 0;
  margin: 0 auto;
  margin-top: 15px;
  font-weight: bold;
  color: #ebebeb;
}
.mainGameBet {
  margin-top: 10px;
}
/* Home page - carousel */
.carouselRow {
  margin-top: 30px;

}
.carouselHeader {
  font-family: PS;
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  background-color: rgb(211, 144, 20);
  color: black;
  font-weight: bold;
}

@media only screen and (min-width: 595px) {
  .matchesBox{
    width: 100%;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  .matchCard{
    margin: auto;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .mainMatch {
    margin: 0;
    margin-left: 40px;
  }
  .mainTwitchPlayer {
    height: 350px;
  }
  .carouselHeader {
    margin: 0;
    margin-left: 40px;
  }
  .addMoneyPageHeader {
    margin: 0;
    margin-top: 15px;
  }
  .addMoneyForm {
    margin: 0;
    margin-top: 15px;
    padding: 0;
  }
  .form-group {
    padding: 0;
  }
  .matchesBox{
    margin-left: 20px;
    padding: 10px;
  }
  .matchCard{
    margin-left: 5px;
    margin-right: 5px;
    width: 90%;
    margin: auto;
  }
}


@media only screen and (min-width: 1024px) {
  .matchesBox{
    margin-left: 20px;
    padding: 10px;
  }
  .matchCard{
    margin-left: 5px;
    margin-right: 5px;
    width: 45%;
  }
}

@media only screen and (min-width: 1200px) {
  .matchesBox{
    margin-left: 20px;
    padding: 10px;

  }
.matchCard{
    margin-left: 5px;
    margin-right: 5px;
  }
}