.row {
  margin: 0;
}
.table {
  padding: 0;
  margin-bottom: 0;
}
.signUpHeader,.logInHeader {
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
}
.signUpForm,.logInForm {
  margin: 0 auto;
  padding: 0;
}
.formLink {
  padding: 0;
}
.addMoney {
  color: white;
}
.addMoneyPageHeader {
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
  font-weight: bold;
  border: 2px solid white;
  margin-bottom: 15px;
}
.addMoneyForm {
  margin: 0 auto;
  margin-top: 15px;
}
.form-check, .addMoneySubmit {
  margin-top: 15px;
}
.form-group {
  margin-bottom: 5px;
}
.App {
  text-align: center;
  padding: 0;
  margin: 0;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.mainMatch {
  margin: 0 auto;
  padding: 0;
}
.mainTwitchPlayer {
  margin-top: 15px;
  height: 300px;
}
.mainMatchInfoRow {
  margin-top: 15px;
}
.mainMatchInfo {
  width: 100%;
}
.carouselRow {
  margin-top: 15px;
}
.carouselHeader {
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  background-color: rgb(61, 61, 61);
  color: white;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .mainMatch {
    margin: 0;
    margin-left: 40px;
  }
  .mainTwitchPlayer {
    height: 350px;
  }
  .carouselHeader {
    margin: 0;
    margin-left: 40px;
  }
  .addMoneyPageHeader {
    margin: 0;
    margin-top: 15px;
  }
  .addMoneyForm {
    margin: 0;
    margin-top: 15px;
    padding: 0;
  }
  .form-group {
    padding: 0;
  }
}
