@font-face {
  font-family: 'nordic';
  src: url(./utils/NordicaAdvancedRegular.otf);
}
body{
  background-color: black;
  color: #ebebeb;
  font-family: 'nordic';

}
.row {
  margin: 0;
}
.matchDash{
  width: 100%;
  height: 100%;
  background-image: url("./utils/simpleTexture.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.matches {
      background-image: url(".//utils/simpleTexture.jpg");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }
.App {
      background-image: url("./utils/circuit_crowd.jpg");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
.table {
  padding: 0;
  margin-bottom: 0;
}
body {
  min-height: 750px;
  background-image: url("./circuit_crowd.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  text-align: center;
  padding: 0;
  margin: 0;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
/* Sign up and log in pages */
.signUpHeader,.logInHeader {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
  color: white;
}
.signUpForm,.logInForm {
  margin: 0 auto;
  padding: 0;
}
.formLabel {
  color: white;
}
.formLink {
  padding: 0;
}
/* Add money page */
.addMoney {
  color: white;
}
.addMoneyPageHeader {
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
  font-weight: bold;
  border: 2px solid white;
  margin-bottom: 15px;
}
.addMoneyForm {
  margin: 0 auto;
  margin-top: 15px;
}
.form-check, .addMoneySubmit {
  margin-top: 15px;
}
.form-group {
  margin-bottom: 5px;
}
/* Home page - main event */
.mainMatch {
  margin: 0 auto;
  padding: 0;
}
.mainTwitchPlayer {
  margin-top: 30px;
  height: 300px;
}
.mainIframe {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.mainMatchInfoRow {
  margin-top: 15px;
}
.mainMatchInfo {
  width: 100%;
}
.mainMatchTable {
  opacity: 0.9;
}
/* Home page - carousel */
.carouselRow {
  margin-top: 30px;
}
.carouselHeader {
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  background-color: rgb(211, 144, 20);
  color: black;
  font-weight: bold;
}

@media only screen and (min-width: 595px) {
  .matchesBox{
    width: 100%;
    padding: 5px;
  }
  .matchCard{
    margin: auto;
    width: 100%;
  }
/* Profile page */
.profilePage {
  color: white;
  margin: 0 auto;
  padding: 0;
}
.profileHeader {
  margin-top: 25px;
  text-align: center;
}
.profileTableHeader {
  font-weight: bold;
  margin-bottom: 5px;
}
.profileUsernameDisplay,.profileBalanceDisplay {
  font-weight: bold;
}
.profileBalanceDisplay {
  margin-top: 15px;
  margin-bottom: 15px;
}
.profileTable {
  opacity: 0.9;
}
}
@media only screen and (min-width: 768px) {
  .mainMatch {
    margin: 0;
    margin-left: 40px;
  }
  .mainTwitchPlayer {
    height: 350px;
  }
  .carouselHeader {
    margin: 0;
    margin-left: 40px;
  }
  .addMoneyPageHeader {
    margin: 0;
    margin-top: 15px;
  }
  .addMoneyForm {
    margin: 0;
    margin-top: 15px;
    padding: 0;
  }
  .form-group {
    padding: 0;
  }
  .matchesBox{
    margin-left: 20px;
    padding: 10px;
  }
  .matchCard{
    margin-left: 5px;
    margin-right: 5px;
    width: 90%;
    margin: auto;
  }
}


@media only screen and (min-width: 1024px) {
  .matchesBox{
    margin-left: 20px;
    padding: 10px;
  }
  .matchCard{
    margin-left: 5px;
    margin-right: 5px;
    width: 45%;
  }
}

@media only screen and (min-width: 1200px) {
  .matchesBox{
    margin-left: 20px;
    padding: 10px;

  }
.matchCard{
    margin-left: 5px;
    margin-right: 5px;
  }
}