.dashboardPosition{
    position: relative;
}
#paperStyle{
    background-color: #312e2e;
    color: #ebebeb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
@media only screen and (min-width: 595px) {
#paperStyle{
    width: 30em;
}
}

@media only screen and (min-width: 760px) {
#paperStyle{
    width: 30em;
    }
    
}
@media only screen and (min-width: 1022px) {
#paperStyle{
    position: absolute;
    width: 30em;
    right: -20px;
    top: -50px;
}
}
@media only screen and (min-width: 1200px) {
#paperStyle{
    position: absolute;
    width: 30em;
    right: 25px;
    top: -50px;
}
}