@font-face {
  font-family: 'PS';
  src: url(../../utils/GamestationDisplayObl.otf);
}
@font-face {
  font-family: 'coderoman';
  src: url(../../utils/CodeNewRoman-aOAK.ttf);
}
.eventSchedule {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 25px;
}
.eventScheduleHeader {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    background-color: rgb(211, 144, 20);
    color: black;
    font-weight: bold;
    font-family: PS;
    font-size: 1.5em;

  }
  .eventScheduleTable {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb(3, 3, 36);
    font-family: 'coderoman';
  
  }
  @media only screen and (min-width: 768px) {
    .eventSchedule {
      position: absolute;
      top: 364px;
      right: 25px;
    }
  }