@font-face {
  font-family: 'PS';
  src: url(../../utils/fonts/GamestationDisplayObl.otf);
}
@font-face {
  font-family: 'coderoman';
  src: url(../../utils/fonts/CodeNewRoman-aOAK.ttf);
}
.carousel {
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 100px;

}
.carousel-inner{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.carouselPic {
    margin: 0 auto;
    height: 175px;
    padding: 0;
}
.carouselInfo,.carouselInfoTable {
    margin: 0 auto;
    padding: 0;
    height: 175px;
    background-image: url('../../utils/images/blue.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'coderoman';

}

.carouselInfoTable {
    font-size: 1.2em;
    
}
@media only screen and (min-width: 768px) {
    .carousel {
        margin: 0;
        margin-left: 40px;
    }
}