
@font-face {
  font-family: 'HACKED';
  src: url(../../utils/fonts/HACKED.ttf);
}
@font-face {
  font-family: 'bigNoodle';
  src: url(../../utils/fonts/Bignoodletitling-8ojz.ttf);
}
tr:hover{
opacity: .6;
}
.underline{

  padding-left: 50px;
  padding-right: 50px;
  border-radius: 50%;
} 
.underline:hover{
  text-shadow: 5px 1px 5px rgba(131, 10, 131, 0.938);;

}
.underline:active{
  border-bottom: solid;
  border-top: solid;
  border-color: rgb(44, 4, 71);
  box-shadow: 0 4px 8px 0 rgba(165, 0, 165, 0.2);

}
#navColor{
    background: #000000;
    padding: 0;
}
.logo{
  padding-right: 5px;
  margin-bottom:8px;
}
.navbar-brand{
    font-family: 'HACKED';
    font-size: 2.5em;
}
#nav-container{
    padding: 0;
}
.nav-item{
    font-family: 'bigNoodle', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}